<form #keyboardForm="ngForm" (ngSubmit)="onSubmit($event)">
  <div>
      <label for="model">Model</label>
      <input
          type="text"
          id="model"
          name="model"
          [(ngModel)]="object.model"
          required />
  </div>
  <label for="rodzaj">Rodzaj</label>
  <select
      id="rodzaj"
      name="rodzaj"
      [(ngModel)]="object.rodzaj">
      <option [ngValue]="0">Membranowa</option>
      <option [ngValue]="1">Nozycowa</option>
      <option [ngValue]="2">Mechaniczna</option>
      <option [ngValue]="3">Optyczna</option>
      <option [ngValue]="4">Hybrydowa</option>
  </select>
  <input
      type="submit"
      name="submit"
      id="submit"
      value="Zapisz"
      [disabled]="keyboardForm.invalid"/>
</form>
